{% extends 'base.html.twig' %}

{% block body %}

    <ul>
    {% for user in users %}
        {#<li>{{ dump(user) }}</li>#}
        <a href="{{ path('user' ,{'id': user.id }) }}">{{ user.name }}</li></a> <li>
    {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}

{% endblock %}

